<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NetStartTestApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <NetStartTestApp.Properties.Settings>
            <setting name="InstName" serializeAs="String">
                <value>BabyRuth</value>
            </setting>
            <setting name="BrokerURI" serializeAs="String">
                <value>failover:(tcp:/prismdevii.pnl.gov:61616,tcp://proto-10.pnl.gov:61616)</value>
            </setting>
            <setting name="CmdQueueName" serializeAs="String">
                <value>DAC.Control</value>
            </setting>
            <setting name="StatusTopicName" serializeAs="String">
                <value>DAC.Status</value>
            </setting>
        </NetStartTestApp.Properties.Settings>
    </applicationSettings>
</configuration>