<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Bruker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Bruker.Properties.Settings>
            <setting name="BrukerMethodFolderLocalName" serializeAs="String">
                <value>D:\Methods</value>
            </setting>
            <setting name="BrukerOutputFolderLocalName" serializeAs="String">
                <value>D:\Data_BrukerTest\BrukerTest</value>
            </setting>
            <setting name="BrukerInstPort" serializeAs="String">
                <value>7005</value>
            </setting>
            <setting name="BrukerOutputFolderShareName" serializeAs="String">
                <value>\\prismdev3.emsl.pnl.gov\ProteomicsData</value>
            </setting>
            <setting name="BrukerInstNetName" serializeAs="String">
                <value>prismdev3.emsl.pnl.gov</value>
            </setting>
            <setting name="BrukerMethodFolderShareName" serializeAs="String">
                <value>\\prismdev3.emsl.pnl.gov\Methods</value>
            </setting>
        </Bruker.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
