**/obj
**/bin
**/packages
**/Installers
*.suo
*.lnk
**/pluginDLLs/*
lcmsnetbuild.txt
LcmsNet/SQLiteTools/SQLite/
/lib/
**/.vs/
*.DotSettings
*.user
Installer/Output/
/SampleValidators/
