#Note: More .gitignore files exist within the directory structure. Notably within the \pluginDLLs, and LcmsNet\lib subdirectories
*\obj
*\bin
*\packages
*.suo
lcmsnetbuild.txt
/LcmsNet/SQLiteTools/SQLite/System.Data.SQLite.xml
/LcmsNet/SQLiteTools/SQLite/x64
/LcmsNet/SQLiteTools/SQLite/x86
/LcmsNet/SQLiteTools/SQLite/System.Data.SQLite.dll
