**/obj
**/bin
**/packages
**/Installers
*.suo
*.lnk
pluginDLLs/*
lcmsnetbuild.txt
LcmsNet/SQLiteTools/SQLite/System.Data.SQLite.xml
LcmsNet/SQLiteTools/SQLite/x64
LcmsNet/SQLiteTools/SQLite/x86
LcmsNet/SQLiteTools/SQLite/System.Data.SQLite.dll
LcmsNet/lib/*.dll
LcmsNet/lib/SQLite_Zips
!LcmsNet/lib/ZedGraph.dll
**/.vs/
*.DotSettings
*.user
