<?xml version="1.0" encoding="utf-8"?>
<catalog>
  <!--DMS Configuration Schema definition-->
  <xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="PrismDMS"> 
    <xs:element name="PrismDMSConfig">
      <xs:complexType>
        <xs:sequence>
           <xs:element name="DMSVersion">
             <xs:complexType>
              <xs:simpleContent>
                  <xs:extension base="xs:string">
                    <xs:attribute name="dmssetting" use="required" type="xs:string"/>
                  </xs:extension>
              </xs:simpleContent>
            </xs:complexType>
          </xs:element>
          <xs:element name="DMSPwd">
            <xs:complexType>
              <xs:simpleContent>
                <xs:extension base="xs:string">
                  <xs:attribute name="dmssetting" use="required" type="xs:string"/>
                </xs:extension>
              </xs:simpleContent>
            </xs:complexType>
          </xs:element>         
        </xs:sequence>
      </xs:complexType>
    </xs:element>
  </xs:schema>
 
  <!--DMS configuration-->
  <p:PrismDMSConfig xmlns:p="PrismDMS">
    <!--DMSVersion is needed for creation of the connection string-->
    <p:DMSVersion dmssetting="true">DMS5</p:DMSVersion>
    <!--DMSPwd is the encoded DMS password-->
    <p:DMSPwd dmssetting="true">Mprptq3v</p:DMSPwd>
  </p:PrismDMSConfig>
</catalog>