<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <!-- This file is used for settings that should not be overwritten when installing a new version of LCMSNet-->
  <!-- Items specified here override any application settings in LcmsNet.exe.config. They cannot add new settings or override user config values -->

  <!-- Cart name: value is type 'string' -->
  <add key="CartName" value="(none)" />
  <add key="PalMethodsFolder" value="C:\Program Files (x86)\PAL\Cycle Composer\HTS PAL" />
  <add key="LocalDataPath" value="C:\LCMSNet" />
</appSettings>
