<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="LcmsNet.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="LcmsNet.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
    <!-- Section definition for proper handling of developer settings (if present) -->
    <section name="developerAppSettings" type="System.Configuration.NameValueFileSectionHandler, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
  </configSections>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
  <!-- Persisted/not overwritten settings file for overrides to application settings -->
  <appSettings file="LcmsNet_PersistentSettings.config"/>
  <developerAppSettings file="LcmsNet_DeveloperSettings.config"/>
  <!-- Regular application settings-->
  <applicationSettings>
    <LcmsNet.Properties.Settings>
      <setting name="PalMethodsFolder" serializeAs="String">
        <value>C:\Program Files (x86)\PAL\Cycle Composer\HTS PAL</value>
      </setting>
      <setting name="CartName" serializeAs="String">
        <value>(none)</value>
      </setting>
      <setting name="InitializeHardwareOnStartup" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CreateMethodFolders" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="LoggingErrorLevel" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="LoggingMsgLevel" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="TriggerFileFolder" serializeAs="String">
        <value>\\proto-5\BionetXfer\run_complete_trigger</value>
      </setting>
      <setting name="CopyTriggerFiles" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CopyMethodFolders" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="EmulationEnabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AdminMode" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="LocalDataPath" serializeAs="String">
        <value>C:\LCMSNet</value>
      </setting>
    </LcmsNet.Properties.Settings>
  </applicationSettings>
  <userSettings>
    <LcmsNet.Properties.Settings>
      <setting name="InstName" serializeAs="String">
        <value>BabyRuth</value>
      </setting>
      <setting name="SeparationType" serializeAs="String">
        <value>LC-ISCO-Standard</value>
      </setting>
      <setting name="Operator" serializeAs="String">
        <value />
      </setting>
      <setting name="CartConfigName" serializeAs="String">
        <value>Unknown_Cart_Config</value>
      </setting>
      <setting name="CacheFileName" serializeAs="String">
        <value>LCMSCache.que</value>
      </setting>
      <setting name="ColumnName0" serializeAs="String">
        <value>NOTSET</value>
      </setting>
      <setting name="ColumnName1" serializeAs="String">
        <value>NOTSET</value>
      </setting>
      <setting name="ColumnName2" serializeAs="String">
        <value>NOTSET</value>
      </setting>
      <setting name="ColumnName3" serializeAs="String">
        <value>NOTSET</value>
      </setting>
      <setting name="ColumnDisabled0" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ColumnDisabled1" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ColumnDisabled2" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ColumnDisabled3" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ColumnDisabledSpecial" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ValidateSamplesForDMS" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="applicationVersion" serializeAs="String">
        <value>0.0.0.0</value>
      </setting>
      <setting name="NotificationWriteTimeMinutes" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="NotificationDirectoryPath" serializeAs="String">
        <value>SystemHealth</value>
      </setting>
      <setting name="NotificationFilePath" serializeAs="String">
        <value>notifications.xml</value>
      </setting>
      <setting name="NotificationShouldNotify" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="FirstTime" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ErrorPath" serializeAs="String">
        <value>\\proto-5\BionetXfer\LCMSNetErrorReports</value>
      </setting>
      <setting name="ShouldDisplayQueue" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ShouldDisplayPumps" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShouldDisplayConfig" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MinimumVolume" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="PdfPath" serializeAs="String">
        <value>\\proto-5\BionetXfer\PDF_Methods</value>
      </setting>
      <setting name="TimeZone" serializeAs="String">
        <value />
      </setting>
      <setting name="DMSTool" serializeAs="String">
        <value />
      </setting>
      <setting name="UpgradeSettings" serializeAs="String">
        <value>True</value>
      </setting>
    </LcmsNet.Properties.Settings>
  </userSettings>
</configuration>
