<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="LcmsNet.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
            <section name="LcmsNetProg.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="LcmsNet.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
  </startup>
    <applicationSettings>
        <LcmsNet.Properties.Settings>
            <setting name="PluginFolder" serializeAs="String">
                <value>Plugins</value>
            </setting>
            <setting name="PalMethodsFolder" serializeAs="String">
                <value>C:\Program Files (x86)\PAL\Cycle Composer\HTS PAL</value>
            </setting>
            <setting name="BrokerURI" serializeAs="String">
                <value>tcp://proto-10.pnl.gov:61616</value>
            </setting>
            <setting name="CmdQueueName" serializeAs="String">
                <value>DAC.Control</value>
            </setting>
            <setting name="StatusTopicName" serializeAs="String">
                <value>DAC.Status</value>
            </setting>
            <setting name="InstResponseTime" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="CartName" serializeAs="String">
                <value>No_Cart</value>
            </setting>
            <setting name="InitializeHardwareOnStartup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CreateMethodFolders" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BrukerMethodFolderLocalName" serializeAs="String">
                <value>D:\Methods</value>
            </setting>
            <setting name="BrukerOutputFolderLocalName" serializeAs="String">
                <value>D:\Data_BrukerTest\BrukerTest</value>
            </setting>
            <setting name="BrukerInstPort" serializeAs="String">
                <value>7005</value>
            </setting>
            <setting name="BrukerOutputFolderShareName" serializeAs="String">
                <value>\\prismdev3.emsl.pnl.gov\ProteomicsData</value>
            </setting>
            <setting name="BrukerInstNetName" serializeAs="String">
                <value>prismdev3.emsl.pnl.gov</value>
            </setting>
            <setting name="BrukerMethodFolderShareName" serializeAs="String">
                <value>\\prismdev3.emsl.pnl.gov\Methods</value>
            </setting>
            <setting name="LoggingErrorLevel" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="LoggingMsgLevel" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="TriggerFileFolder" serializeAs="String">
                <value>\\proto-5\BionetXfer\TriggerTest</value>
            </setting>
            <setting name="CopyTriggerFiles" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CopyMethodFolders" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EmulationEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AdminMode" serializeAs="String">
                <value>True</value>
            </setting>
        </LcmsNet.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <LcmsNet.Properties.Settings>
            <setting name="InstName" serializeAs="String">
                <value>BabyRuth</value>
            </setting>
            <setting name="SeparationType" serializeAs="String">
                <value>LC-ISCO-Standard</value>
            </setting>
            <setting name="Operator" serializeAs="String">
                <value/>
            </setting>
            <setting name="CartConfigName" serializeAs="String">
                <value>Unknown_Cart_Config</value>
            </setting>
            <setting name="CacheFileName" serializeAs="String">
                <value>LCMSCache.que</value>
            </setting>
            <setting name="ColumnName0" serializeAs="String">
                <value>NOTSET</value>
            </setting>
            <setting name="ColumnName1" serializeAs="String">
                <value>NOTSET</value>
            </setting>
            <setting name="ColumnName2" serializeAs="String">
                <value>NOTSET</value>
            </setting>
            <setting name="ColumnName3" serializeAs="String">
                <value>NOTSET</value>
            </setting>
            <setting name="ColumnDisabled0" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ColumnDisabled1" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ColumnDisabled2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ColumnDisabled3" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ColumnDisabledSpecial" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ValidateSamplesForDMS" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="applicationVersion" serializeAs="String">
                <value>0.0.0.0</value>
            </setting>
            <setting name="NotificationWriteTimeMinutes" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="NotificationDirectoryPath" serializeAs="String">
                <value>SystemHealth</value>
            </setting>
            <setting name="NotificationFilePath" serializeAs="String">
                <value>notifications.xml</value>
            </setting>
            <setting name="NotificationShouldNotify" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FirstTime" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ErrorPath" serializeAs="String">
                <value>\\proto-5\BionetXfer\LCMSNetErrorReports</value>
            </setting>
            <setting name="FinchServerURL" serializeAs="String">
                <value>http://prismsupport.bionet/finchingest/update</value>
            </setting>
            <setting name="ShouldDisplayQueue" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShouldDisplayPumps" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShouldDisplayConfig" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MinimumVolume" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="PdfPath" serializeAs="String">
                <value>D:\</value>
            </setting>
            <setting name="TimeZone" serializeAs="String">
                <value/>
            </setting>
            <setting name="DMSTool" serializeAs="String">
                <value/>
            </setting>
        </LcmsNet.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SQLite" publicKeyToken="db937bc2d44ff139" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.0.99.0" newVersion="1.0.99.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
