<?xml version="1.0" encoding="utf-8" ?>
<!-- This file should not be copied to or installed on LC Carts/production systems!!! -->

<!-- this is basically another "appSettings" file, but there can't be 2 specified in the app.config, and the name here has to match what's in the app.config file. -->
<developerAppSettings>
  <!-- This file is used for settings that should be used instead of the defaults when developing/debugging LCMSNet-->
  <!-- Items specified here override any application settings or user settings in LcmsNet.exe.config. They cannot add new settings. -->

  <!-- Cart name: value is type 'string' -->
  <add key="CartName" value="No_Cart" />
  <add key="TriggerFileFolder" value="\\proto-5\BionetXfer\TriggerTest" />
  <add key="CopyTriggerFiles" value="False" />
  <add key="CopyMethodFolders" value="False" />
  <add key="EmulationEnabled" value="True" />
  <add key="PdfPath" value="D:\" />
</developerAppSettings>